.app__div-corral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.app__div-copywright {
  font-size: 8px;
  position: absolute;
  bottom: 0px;
}
.unicorns-fighting {
	position:relative;
	animation:unicorns-fighting 6s;
	-webkit-animation:unicorns-fighting 6s;
}
.unicorn-section, .jackalope-section {
	width: 50%;
}
.unicorns, .unicorns-fighting, .jackalopes-fighting {
	width: 50%;
}
.jackalope-section {
	text-align: right
}
.jackalopes, .jackalopes-fighting {
	padding-left: 50%;
}

/*fighting icons*/
.unicorns-fighting {
	position:relative;
	animation:unicorns-fighting 6s;
	-webkit-animation:unicorns-fighting 6s;
}
@keyframes unicorns-fighting {
	0% {left: 0px;}
	100% {left: 650px;}
}
@-webkit-keyframes unicorns-fighting {
	0% {left: 0px;}
	100% {left: 650px;}
}
.jackalopes-fighting {
  position:relative;
  animation:jackalopes-fighting 6s;
  -webkit-animation:jackalopes-fighting 6s;
}
@keyframes jackalopes-fighting {
	0% {right: 0px;}
	100% {right: 650px;}
}
@-webkit-keyframes jackalopes-fighting {
	0% {right: 0px;}
	100% {right: 650px;}
}
.no-explosion-icon {
	visibility: hidden;
}
.explosion-icon {
	animation: explosion-icon 0s 4s forwards;
	margin: auto;
	visibility: hidden;
}
@keyframes explosion-icon {
	to {visibility: visible; position: absolute; top: 0px; left: 0px;}
}